.jumbotron {
  background-color: #e2edff;
}

#project {
  background-color: #0099ff;
  padding-bottom: 3rem;
}

#contact {
  padding-bottom: 2rem;
  background-color: #e2edff;
}

section {
  padding-top: 6rem;
}
